@import 'variables.css';

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  & .header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  height: fit-content;
  width: 100%;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
  font-size: var(--font-paragraph);
  font-weight: var(--medium);

  &:disabled {
    background-color: var(--button-disabled);
    color: var(--button-disabled-txt);
    cursor: default;
  }
}

.btn__primary {
  background-color: var(--button-primary-default);
  color: var(--font-white);

  &:hover {
    background-color: var(--button-primary-hover);
  }

  &:active {
    background-color: var(--button-primary-active);
  }
}

.btn__secondary {
  border: 1px solid var(--button-secondary-border);
  background-color: var(--button-secondary-default);

  &:hover {
    background-color: var(--button-secondary-hover);
    border-color: var(--button-secondary-border-hover);
  }

  &:active {
    background-color: var(--button-secondary-active);
  }
}

.input__text_field {
  background-color: var(--text-field-background-default);
  border: none;
  border-radius: var(--border-radius);
  padding: 8px 12px;
  font-size: var(--font-paragraph);
  color: var(--font-black);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--text-field-background-hover);
  }

  &:focus {
    background-color: var(--text-field-background-active);
    color: var(--font-black);
    border: 1px solid var(--text-field-border-active);
    outline: none;
  }
}

.header__input_container {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 0px;
  left: 4px;
}

.header__search {
  padding-left: 32px;

  &:disabled {
    pointer-events: none;
  }
}

.new__list_item {
  display: none;
  flex-direction: column;
}
