:root {
    /*  colours */
    --button-disabled: #c1c1c1;
    --button-disabled-txt: #504f4f;

    --button-primary-default: #6b3c9b;
    --button-primary-hover: #844dba;
    --button-primary-active: #5b2f87;

    --button-secondary-default: transparent;
    --button-secondary-hover: #e7e7e7;
    --button-secondary-active: #bdbdbd;
    --button-secondary-border: #bcbcbd;
    --button-secondary-border-hover: #e7e7e7;

    --text-field-background-default: #eeeff0;
    --text-field-background-hover: #dcdee0;
    --text-field-background-active: #ffffff;
    --text-field-border-active: #1b1c1e;

    --text-btn: #0f75b8;

    --font-black: #1b1c1e;
    --font-gray: #5b5c5e;
    --font-white: #ffffff;

    /*    font-weight*/
    --regular: 400;
    --medium: 500;

    /*    font-size*/
    --font-head: 20px;
    --font-paragraph: 16px;
    --font-note-el: 14px;
    --font-date: 12px;

    /*    border-radius*/
    --border-radius: 12px;
}